 @font-face { font-family: opensans; src: url('Resources/OpenSans-Regular.ttf');}

body {
	background-color: #145fa1;
}

.social {
	touch-action: manipulation;
	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */
}


h1 {
	font-family: opensans;
	color: white;
	font-size:35px;
	text-align: center;
}
p {
	font-family: opensans;
	color: white;
	font-size:25px;
	text-align: center;
}

button {
	background-color: #4CAFFF;
	
	font-family: opensans;
	text-align: center;
	font-size: 25px;
	padding: 10px 10px;
	color: white;

	outline-style:none;
	border:none;
	cursor:pointer;

	/*position:fixed;
	width:50%;
	bottom : 10%;
	left : 25%;

	/* Disable text selection: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Chrome, Opera and Firefox */

	/* 
	Prevent double-tapping on button from zooming page on mobile
	https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action
	*/
	touch-action: manipulation; 
}

nav {
	text-align: center;
}
.button:hover {
  background-color: #5dc2f5;
}
.button:active {
  background-color: #5591ff;
}